* {
     margin: 0px;
     padding: 0px;
     box-sizing: border-box;
     letter-spacing: .2em;
     text-align: center;
}

body {
    display: flex;
    min-height: 100vh;
    margin: 0 auto;
    font-family: 'Teko', sans-serif;
    background:radial-gradient(closest-side, #b6b5b4, #363635, #111111) ;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    
}
.container {
    padding: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    border: 2px solid black;
    border-radius: 10%; 
}

.options {
    width: 100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.result {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn {
    width: 200px;
    height: 200px;
    border-style: none;
    background-size: contain;
    background-repeat:no-repeat;
    background-position:center;
    transition: all .2s;
    background-color: transparent;
}

.btn:hover {
    transform: scale(1.2);
    cursor: pointer;
}

#rock {
    background-image: url("./assets/fist.png") ;
    margin: 10px;
}

#paper {
    background-image:url("./assets/paper.png");
    margin: 0 10px;
}
#rotate {
    transform: rotate(-90deg);
}
#scissors {
    background-image: url("./assets/scissors.png");
    margin: 10px 0;
}

#final {
    color:white;
}

@media only screen and (max-width: 680px) { 
    .options {
        display: flex;
        flex-direction: column;
    }
    .btn {
        width: 100px;
        height: 100px;
    }
}
